

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
  
    <div class="container" style="width:650px">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Change Password</div>
            <div class="panel-body">
                @using (Html.BeginForm("ChangePasswordProcess", "Login", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                {
                    @*<div class="form-group" style="width:auto">
                        <label class="control-label col-sm-2" for="usr">DatabaseIP:</label>
                        <div class="col-sm-10">
                            @Html.TextBox("ip", null, null, new { @class = "form-control", @placeholder = "Enter IP" })
                        </div>
                    </div>*@
                    <p>@ViewBag.Msg</p>
                    <div class="form-group" style="width:auto">
                        <label class="control-label col-sm-4"  for="usr">UserName:</label>
                        <div class="col-sm-6">
                            @*@Html.TextBox("user", ViewBag.Usr , null, new { @class = "form-control", @placeholder = "Enter User"})*@
                            <input type="text" class="form-control" placeholder="Enter User" name="user" value="@ViewBag.Usr" />
                        </div>
                    </div>
                    <div class="form-group" style="width:auto">
                        <label class="control-label col-sm-4"  for="pwd">Current Password:</label>
                        <div class="col-sm-6">
                            @Html.Password("pwd", null, new { @class = "form-control", @placeholder = "Enter Current password" })
                        </div>
                    </div>
                    <div class="form-group" style="width:auto">
                        <label class="control-label col-sm-4" for="pwd">New Password:</label>
                        <div class="col-sm-6">
                            @Html.Password("newPwd1", null, new { @class = "form-control", @placeholder = "Enter New password" })
                        </div>
                    </div>
                    <div class="form-group" style="width:auto" >
                        <label class="control-label col-sm-4" for="pwd">Re Enter New Password::</label>
                        <div class="col-sm-6">
                            @Html.Password("newPwd2", null, new { @class = "form-control", @placeholder = "Re Enter New password" })
                        </div>
                    </div>
                    <div class="form-group" style="width:auto">
                        <div class="col-sm-offset-4 col-sm-6">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <script type="text/javascript">
        /*$('#usr').keypress(function (event) { */
        $("input[type='text'],[type='password']").keypress(function (envent) {
            /* ENTER PRESSED*/
            if (event.keyCode == 13) {
                /* FOCUS ELEMENT */
                var inputs = $(this).parents("form").eq(0).find(":input");
                var idx = inputs.index(this);
                var lenghtInput = inputs.length;
                if (idx == inputs.length - 1) {
                    inputs[0].select()
                } else {
                    if (idx + 1 < lenghtInput - 1) {
                        inputs[idx + 1].focus(); //  handles submit buttons
                        inputs[idx + 1].select();
                    } else {
                        return true;
                    }
                }
                return false;
            }
        });
    </script>
</body>
</html>
