@*@{
    Layout = "~/Views/Shared/MenuBar.cshtml";
}*@
@*@model WebApplication1.Models.MainMenu*@
@*@model IEnumerable<FileInfo>

<h2>Contact</h2>

<ul>
    @foreach (FileInfo file in ViewBag.File)
    {
        <li>@file.Name</li>
    }
</ul>*@

<div class="container">
    <h2>1.1 Equity</h2>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">ตัวเลือกการแสดงข้อมูล</div>
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">เดือน:</label>
                    @*<div class="col-sm-10">
                        <p class="form-control-static">someone@example.com</p>
                    </div>*@
                    <div class="col-sm-10">
                        @*<input type="date" class="form-control"  id="DateStart" name="DateStart"  placeholder="ระบุวันที่เริ่ม">*@
                        <select class="form-control" data-live-search="true" name="month" >
                            @{
                                if (ViewBag.SelectMonth == null)
                                {
                                    if (DateTime.Now.Month == 1)
                                    {
                                        <option data-tokens="มกราคม" selected>มกราคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="มกราคม">มกราคม</option>
                                    }
                                    if (DateTime.Now.Month == 2)
                                    {
                                        <option data-tokens="กุมภาพันธ์" selected>กุมภาพันธ์</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="กุมภาพันธ์">กุมภาพันธ์</option>
                                    }
                                    if (DateTime.Now.Month == 3)
                                    {
                                        <option data-tokens="มีนาคม" selected>มีนาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="มีนาคม">มีนาคม</option>
                                    }
                                    if (DateTime.Now.Month == 4)
                                    {
                                        <option data-tokens="เมษายน" selected>เมษายน</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="เมษายน">เมษายน</option>
                                    }
                                    if (DateTime.Now.Month == 5)
                                    {
                                        <option data-tokens="พฤษภาคม" selected>พฤษภาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="พฤษภาคม">พฤษภาคม</option>
                                    }
                                    if (DateTime.Now.Month == 6)
                                    {
                                        <option data-tokens="มิถุนายน" selected>มิถุนายน</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="มิถุนายน">มิถุนายน</option>
                                    }
                                    if (DateTime.Now.Month == 7)
                                    {
                                        <option data-tokens="กรกฎาคม" selected>กรกฎาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="กรกฎาคม">กรกฎาคม</option>
                                    }
                                    if (DateTime.Now.Month == 8)
                                    {
                                        <option data-tokens="สิงหาคม" selected>สิงหาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="สิงหาคม">สิงหาคม</option>
                                    }
                                    if (DateTime.Now.Month == 9)
                                    {
                                        <option data-tokens="กันยายน" selected>กันยายน</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="กันยายน">กันยายน</option>
                                    }
                                    if (DateTime.Now.Month == 10)
                                    {
                                        <option data-tokens="ตุลาคม " selected>ตุลาคม </option>
                                    }
                                    else
                                    {
                                        <option data-tokens="ตุลาคม ">ตุลาคม </option>
                                    }
                                    if (DateTime.Now.Month == 11)
                                    {
                                        <option data-tokens="พฤศจิกายน" selected>พฤศจิกายน</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="พฤศจิกายน">พฤศจิกายน</option>
                                    }
                                    if (DateTime.Now.Month == 12)
                                    {
                                        <option data-tokens="ธันวาคม" selected>ธันวาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="ธันวาคม">ธันวาคม</option>
                                    }
                                }
                                else
                                {
                                    if (ViewBag.SelectMonth == "01")
                                    {
                                        <option data-tokens="มกราคม" selected>มกราคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="มกราคม">มกราคม</option>
                                    }
                                    if (ViewBag.SelectMonth == "02")
                                    {
                                        <option data-tokens="กุมภาพันธ์" selected>กุมภาพันธ์</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="กุมภาพันธ์">กุมภาพันธ์</option>
                                    }
                                    if (ViewBag.SelectMonth == "03")
                                    {
                                        <option data-tokens="มีนาคม" selected>มีนาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="มีนาคม">มีนาคม</option>
                                    }
                                    if (ViewBag.SelectMonth == "04")
                                    {
                                        <option data-tokens="เมษายน" selected>เมษายน</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="เมษายน">เมษายน</option>
                                    }
                                    if (ViewBag.SelectMonth == "05")
                                    {
                                        <option data-tokens="พฤษภาคม" selected>พฤษภาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="พฤษภาคม">พฤษภาคม</option>
                                    }
                                    if (ViewBag.SelectMonth == "06")
                                    {
                                        <option data-tokens="มิถุนายน" selected>มิถุนายน</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="มิถุนายน">มิถุนายน</option>
                                    }
                                    if (ViewBag.SelectMonth == "07")
                                    {
                                        <option data-tokens="กรกฎาคม" selected>กรกฎาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="กรกฎาคม">กรกฎาคม</option>
                                    }
                                    if (ViewBag.SelectMonth == "08")
                                    {
                                        <option data-tokens="สิงหาคม" selected>สิงหาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="สิงหาคม">สิงหาคม</option>
                                    }
                                    if (ViewBag.SelectMonth == "09")
                                    {
                                        <option data-tokens="กันยายน" selected>กันยายน</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="กันยายน">กันยายน</option>
                                    }
                                    if (ViewBag.SelectMonth == "10")
                                    {
                                        <option data-tokens="ตุลาคม " selected>ตุลาคม </option>
                                    }
                                    else
                                    {
                                        <option data-tokens="ตุลาคม ">ตุลาคม </option>
                                    }
                                    if (ViewBag.SelectMonth == "11")
                                    {
                                        <option data-tokens="พฤศจิกายน" selected>พฤศจิกายน</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="พฤศจิกายน">พฤศจิกายน</option>
                                    }
                                    if (ViewBag.SelectMonth == "12")
                                    {
                                        <option data-tokens="ธันวาคม" selected>ธันวาคม</option>
                                    }
                                    else
                                    {
                                        <option data-tokens="ธันวาคม">ธันวาคม</option>
                                    }
                                }
                            }
                            
                        </select>
                    </div>
                   </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">ค.ศ.:</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-live-search="true" name="year">
                                @{
                                    int i = 2015;
                                    while (i <= DateTime.Now.Year)
                                    {
                                        <option data-tokens="@i" selected>@i</option>
                                        i++;
                                    }
                                }
                                
                            </select>
                        </div>
                    </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>

            </form>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading"><span>แสดงข้อมูล เดือน: @ViewBag.month ปี ค.ศ.: @ViewBag.year</span> </div>
                <div class="panel-body">
                @if (ViewBag.File != null)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>วันที่</th>
                                    <th>ชื่อไฟล์</th>
                                    <th>ขนาดไฟล์</th>
                                    <th>เปิดไฟล์</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (FileInfo file in ViewBag.File)
                                {
                                    <tr>
                                        <td>@file.Name.Substring(9,2)/@file.Name.Substring(7, 2)/@file.Name.Substring(3, 4)</td>
                                        <td>@file.Name</td>
                                        <td>
                                            @{ 
                                                var FileSize = @file.Length;
                                                FileSize = FileSize / 1024;
                                            }
                                            @*@file.Length.ToString("#,##0.00")*@
                                            @FileSize.ToString("#,##0") KB
                                        </td>
                                        <td>

                                        <a href="@Url.Action("PDF", "Form",new { Filename = file.Name })" class="btn btn-info " target="_blank">Open</a>
                                        </td>
                                    </tr>

                                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('input').on("keypress", function (e) {
        /* ENTER PRESSED*/
        if (e.keyCode == 13) {
            /* FOCUS ELEMENT */
            var inputs = $(this).parents("form").eq(0).find(":input");
            var idx = inputs.index(this);

            if (idx == inputs.length - 1) {
                inputs[0].select()
            } else {
                inputs[idx + 1].focus(); //  handles submit buttons
                inputs[idx + 1].select();
            }
            return false;
        }
    });

    $(document).ready(function () {
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        var DateStart = year + "-" + month + "-" + "01";
        var DateEnd = year + "-" + month + "-" + day;
        $("#DateStart").attr("value", DateStart);
        //$("#DateEnd").attr("value", DateEnd);
    });

    </script>