
@model ConsentManament.Models.ConsentManageModels.QueryCustomerAcceptedConsentModel
<style>

</style>
<!-- Custom Font Size Utilities -->

    <div class="modal fade" id="AcceptedDetailModal" role="dialog">
        <div class="modal-dialog modal-xl ">
            <div class="card shadow col-xl-12">

                @{
                    if (Model != null)
                    {
                        <div class="card-header  col-xl-12">
                            <h5>@Model.consentAcceptedForm.consentFormName</h5>
                            <h5 class="m-0 font-weight-bold text-primary">Account No :@Model.consentAcceptedForm.accountNo</h5>
                            <h6 class="m-0 font-weight-bold text-primary">Transaction ID: @Model.consentAcceptedForm.transactionID</h6>
                        </div>


                        <div class="card-body">
                            <div>
                                <strong>@Model.consentAcceptedForm.consentHeader</strong>
                            </div>

                            <hr />
                            @foreach (var m in Model.consentAcceptedDetail)
                            {

                                <div class="row">
                                    <div class="col-md-2">
                                        @if (@m.IsAccept == true)
                                        {
                                            <strong style="color:darkseagreen">Accepted @*@m.Consent.consentOrder*@</strong>
                                        }
                                        else
                                        {
                                            <strong style="color:red">Not Accepted @*@m.Consent.consentOrder*@</strong>
                                        }
                                        
                                    </div>
                                    <div class="col-md-10">
                                        @m.Consent.contentText
                                    </div>
                                </div>
                                <hr />
                            }
                            <div>
                                <strong>Date Time: @Model.consentAcceptedForm.consentDate</strong>
                            </div>
                            <div>
                                <strong>@Model.consentAcceptedForm.consentFooter</strong>
                            </div>
                        </div>
                    }
                }
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" id="btnCancelSave2" name="btnCancelSave2" value="Cancel" data-dismiss="modal"> Close</button>
                </div>
            </div>
        </div>
    </div>



